<!DOCTYPE html>
<html>
    <head>
        <style>

            body{text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

        </style>
    
    </head>
<body>
    <h1>Orden enviada</h1>
    <img src="https://img.freepik.com/vector-premium/orden-enviada-ilustracion-vector-plano-icono-estado-pedido-compra-movil-repartidor-encuentra-junto-al-globo-terraqueo-ruta-seguimiento-paquetes-marcada-alfileres-servicio-logistico-entrega-internacional_241107-1215.jpg?w=2000" >
</body>
</html>